<div class="p-6">
    <h2 class="text-2xl font-bold mb-4">Rutas</h2>
    <div class="mb-4">
        <input [(ngModel)]="terminoBusqueda"
            class="border-2 border-gray-300 bg-white h-10 px-5 pr-16 rounded-lg text-sm focus:outline-none"
            type="search" name="search" placeholder="Buscar rutas">
    </div>
    <div class="mb-4">
        <select [(ngModel)]="tipoSeleccionado"
            class="border-2 border-gray-300 bg-white h-10 px-5 pr-16 rounded-lg text-sm focus:outline-none">
            <option value="todos">Todos</option>
            <option value="interno">Interno</option>
            <option value="externo">Externo</option>
        </select>
    </div>
    <ul>
        <li *ngFor="let ruta of rutasFiltradasPorBusqueda; let i = index" class="border rounded-lg p-2 shadow-lg mb-2">
            <h3 class="text-lg font-bold mb-1">{{ ruta.origen }} - {{ ruta.destino }}</h3>
            <p class="mb-1 text-sm">Precio: {{ ruta.precio }}</p>
            <button
                class="px-3 py-1 bg-blue-600 text-white rounded hover:bg-blue-700 active:bg-blue-800 focus:outline-none focus:ring-2 focus:ring-blue-600 focus:ring-opacity-50"
                (click)="descripcionSeleccionada = i">Ver
                más...</button>
            <p class="mb-1 text-sm" *ngIf="descripcionSeleccionada === i">Descripción: {{ ruta.descripcion }}</p>
            <p class="text-sm">Tipo: {{ ruta.tipo }}</p>
        </li>
    </ul>
</div>